
body{background:#1e1f24;color:#333;text-align:center;
    color: #333;
    text-align: left;
    font-family: arial;
    margin: 0;
    padding: 0;
    font-size:16px;margin:0;
}
#cabecera
{
    background:#37488b;box-shadow:0 2px 20px 0 rgba(0,0,0,.5);
    color:#fff;
    font-weight:700;
    margin:0;padding:.5em
}
#cabecera #logo{
    width:20px;
    vertical-align:middle
}
#container
{
    width:70%;
    padding:0;
    text-align:left;
    border:1px solid #ddd;
    margin:0 auto
}
#container h1
{
    font-size:20px
}
#post{background:#fff;padding:1em}




#cabecera #tagline
{
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 0 0 1em;
}

#footer
{
	background:#777;
	color: White;
	text-align: center;
	padding: 0.5em;
}

